.login {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 6vw;
}
.title {
  margin-top: calc(20vh - 12vw);
  color: white;
  width: 100%;
  text-align: center;
}
.info {
	color: rgba(255, 255, 255, 0.541);
	width: 80%;
	margin-left: 10%;
}
.input_containers {
  width: 100%;
}
.input_containers h1 {
  font-size: 6vw;
  padding-left: 12vw;
  color: rgb(179, 179, 179);
}
.input_containers input {
  width: calc(86% - 12vw - 48px);
  margin-left: 12vw;
  padding: 12px 24px;
  outline: none;
  border-radius: 8px;
  border: none;
  font-size: 6vw;
  font-weight: bold;
}
.finish {
  border-radius: 8px;
  border: none;
  width: calc(86% - 12vw);
  margin-left: 12vw;
  margin-top: 12vw;
  font-size: 6vw;
  padding: 12px 24px;
  color: grey;
  outline: none;
}
.finish:hover {
  filter: saturate(1.2);
}
.finish:active {
  filter: saturate(0.6);
}
.complete {
  background-color: purple;
  color: white;
}
.create {
  border-radius: 8px;
  border: none;
  width: calc(86% - 12vw);
  margin-left: 12vw;
  margin-top: 4vw;
  font-size: 6vw;
  padding: 12px 24px;
  color: white;
  background-color: rgb(26, 139, 192);
  outline: none;
}
.create:hover {
  filter: saturate(1.2);
}
.create:active {
  filter: saturate(0.6);
}
