.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controls {
	width: 640px;
	height: 60px;
	position: absolute;
	top: 480px;
	z-index: 14;
	display: grid;
	grid-template-columns: repeat(5, 20%);
}
.controls button {
	margin: 12px;
	cursor: pointer;
	background-color: white;
	border: 3px solid grey;
	border-radius: 8px;
	outline: none;
	font-size: 18px;
	color: rgb(94, 93, 93);
}
.controls button:hover {
	transform: translate(-1px, -1px);
	box-shadow: 1px 1px 15px rgb(160, 160, 160);
}
.controls button:active {
	background-color: blue;
	color: white;
}

